{% extends 'base.html' %}


{% block conteudo %}
        {% for item in lista_de_consultas %}

            <div class="p1">
                <p>idConsulta: {{item.idConsulta}}<br>
                <p>motivo_id1: {{item.motivo_id1}}<br>
                <p>data1: {{item.data1}}</p><br>
                <p>hora1: {{item.hora1}}</p><br>
                <p>minuto: {{item.minuto}}</p><br>
                <p>idAnimal1: {{item.id_animal}}</p><br>
                <p>idVeterinario1: {{item.id_veterinario}}</p>

            </div>

        {% endfor%}

{% endblock conteudo %}